<div class="card bg-light mb-3">
  <h1 class="card-header">About Secret Club</h1>
  <div class="card-body">
    <p class="lead">Everyone likes to vent behind the scenes but no one wants to be caught with their pants down. This necessitates a secret retreat, where anyone can speak their thoughts without being judged.</p>
    <p class="lead">In this club, you can safely talk about whatever your heart desires behind closed doors. Oh and no one will dear to reveal your name. If they know your secret you know theirs. You hold each other in check from ever spilling the beans!. Relish in relating the most innermost thoughts of the darkest corners of your mind.</p>
  </div>
</div>
