<div class="card bg-light mb-3 contact-card">
  <h1 class="card-header">Contact Info</h1>
  <div class="card-body">
    <p class="lead">Contact us and we will get back to you as soon as possible.</p>
    <div class="contact-icon-box">
      <i class="fas fa-envelope"></i>
      <span><%= link_to 'Email', "mailto:ayezahmed101@gmail.com" %></span>
    </div>
      <div class="contact-icon-box">
        <i class="fab fa-github"></i>
        <span><%= link_to 'Github', "https://github.com/saintaze", target: "_blank"%> </span>
      </div>
      <div class="contact-icon-box">
        <i class="fab fa-dev"></i>
        <span><%= link_to 'Dev.to', "https://dev.to/saintaze", target: "_blank"%> </span>
      </div>
      <div class="contact-icon-box">
        <i class="fab fa-medium"></i>
        <span><%= link_to 'Medium', "https://medium.com/@ayezahmed101", target: "_blank"%> </span>
      </div>
    </p>
  </div>
</div>
