<div class="jumbotron">
  <h1 class="display-3">Secret Club</h1>
  <p class="lead">In this exclusive club, members can share their secret thoughts about non-members. Insiders can see who the author of a post is but, outsiders can only see the story and wonder who wrote it.</p>
  <hr class="my-4">
  <p>Hurry and sign up, if you want to be part of the privileged few!</p>
  <p class="lead">
  <%= link_to 'Sign Up', signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>