<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <strong>Oh Snap!</strong>
    The form contains <%= pluralize(@user.errors.count, 'error') %>
  </div>
  <ul class="error-messages">
   <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
   <% end%>
  </ul>
<% end %>