body{
  background-color: #f9c42e;
}

.contact-card a{
  font-size: 1rem;
}

a:hover {
  text-decoration: none;
}

.fab, .fas{
  padding-right: .6rem;
  font-size: 1.2rem;
}

.contact-icon-box {
  margin-bottom: 1rem;
}